# API configuration
API_URL=""
API_DATABASE=""
API_KEY=""

# Google OAuth configuration
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URL=""

# File storage configuration
AWS_REGION=""
AWS_DOMAIN=""
AWS_S3_BUCKET=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

# Roles configuration
ADMIN_PROFESSIONAL_ROLE_ID=""
PROFESSIONAL_ROLE_ID=""

# Logging
TRAFFIC_SOURCE_ID=""
TRAFFIC_SOURCE_TOKEN=""

DARK_LOGO=""
LIGHT_LOGO=""
MOBILE_LOGO=""